.container{
    width: 80%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}