.uploaded-data{
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uploaded-data__img{
    height: 400px;
    max-width: 100%;
}

.map{
    height: 400px;
    min-width: 350px;
    flex: 1;
}

.error{
    color: red;
}

@media (min-width: 1px) and (max-width: 480px) {
    .uploaded-data__img{
        width: 100%;
    }

    .map{
        width: 90%;
        min-width: 300px;
    }

}

@media (min-width: 481px) and (max-width: 768px){
    .uploaded-data__img{
        width: 100%;
    }
    .map{
        width: 90%;
        min-width: 300px;
    }
}